@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Redressed&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  /*  fondo background inyectado */
    text-decoration: none;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%231190f4' fill-opacity='0.09' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                       ESTILOS DE LA PAGINA index.html
                                                  &
                                      ENCABEZADO DE TODAS LAS PAGINAS HTML
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.conte {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.conte__video  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0;
}
/* sobre capa del video */
.conte__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3CACAE;
  mix-blend-mode: hard-light;
}
/* animacion menu */
.navbar li :hover {
  color: #fff !important;
}
li{


margin: 2em;
display: inline;
font-size: 1em;}
.navbar-toggler{
  background-color: #3CACAE; 
  border-radius: 20px;
}
.collapse {
  align-items: center;
  flex-direction: column
}
.navbar-brand{
  font-weight: 900;
  font-size: 2rem;
  
  border-radius: 30px;
}
/* estilos menu */
.nav-link {
  font-size: 1.2em;
  color: #000 !important;
}
li{
  margin: 2em;
  display: inline;
  font-size: 1em;
}
.navbar{
  height: 70px;
  background: rgba(60, 172, 174, 1);
  background: -moz-linear-gradient(45deg, rgba(60, 172, 174, 1) 0%, rgba(200, 244, 249, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(60, 172, 174, 1)), color-stop(100%, rgba(200, 244, 249, 1)));
  background: -webkit-linear-gradient(45deg, rgba(60, 172, 174, 1) 0%, rgba(200, 244, 249, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(60, 172, 174, 1) 0%, rgba(200, 244, 249, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(60, 172, 174, 1) 0%, rgba(200, 244, 249, 1) 100%);
  background: linear-gradient(45deg, rgba(60, 172, 174, 1) 0%, rgba(200, 244, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cacae', endColorstr='#c8f4f9', GradientType=1);
}

/* estilo logo */
.conte__logo {
    display: flex;
    align-items: center;
    top: 250px;
    justify-content: center;
    position: relative;
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
  }
/* estilos del titulo    */



.conte__logo a{
  text-decoration: none;
}
  .conte__logo--titulo  h1 {
    color: #fff;
    text-transform: capitalize;
    z-index: 10;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;

}

/*-----------------------------------------------  estilos del menu de las redes*----------------------------------------------------------*/
.navRedes__ul li  a:hover
{
    transform: scale(0.5) translateY(-15px);
}
.navRedes__ul li a{
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}
.navRedes{
    position: absolute;
    display: inline;
    z-index: 10;
    bottom: 10em;
    right: 20px;
    height: -40;
}

/*------------------------------------------ estilos del contenido main  iNDEX.HTML------------------------------------------------------*/


.container p {
  text-align: left;
  max-width: 600px ;
  font-size: 23px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 3.5rem;
  color: #3CACAE;
}

.parrafoPrincipalPresentacion h2 {
  font-weight: 900;
  display: inline-block;
  margin-left: 7em;
  padding-top: 5px ;
} 
.parrafoPrincipalPresentacion {

  background-image: url(multimedia/imagenes/1.svg), url(multimedia/imagenes/normativa-drones-espana-aesa.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%; 
}


/*------------------------------------------  estilos del footer de todas las paginas html ------------------------------------------------*/

.form-outline{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.textofooter {
  margin: 10px !important;
}
.bg-light {
  background: rgba(200, 244, 249, 1);
  background: -moz-linear-gradient(45deg, rgba(200, 244, 249, 1) 0%, rgba(60, 172, 174, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(200, 244, 249, 1)), color-stop(100%, rgba(60, 172, 174, 1)));
  background: -webkit-linear-gradient(45deg, rgba(200, 244, 249, 1) 0%, rgba(60, 172, 174, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(200, 244, 249, 1) 0%, rgba(60, 172, 174, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(200, 244, 249, 1) 0%, rgba(60, 172, 174, 1) 100%);
  background: linear-gradient(45deg, rgba(200, 244, 249, 1) 0%, rgba(60, 172, 174, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8f4f9', endColorstr='#3cacae', GradientType=1);
}
/* ---------------------------------------- fin del footer 
------------------------------------------*/ 

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'sans-serif';
  color: white;
  box-shadow: 7px 13px 37px rgb(71, 70, 143);
  ;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'sans-serif';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;

}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}
#texArea{
  resize:none;
  background-color: #24303c ;
  border: 1px solid #1f53c5;
  font-family: 'sans-serif';

}
.form-register .boton  {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 5px;
  color: white;
  margin: 16px 0;
  font-size: 15px;
  box-shadow: 7px 13px 37px rgb(71, 70, 143);

}




/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                       ESTILOS DE LA PAGINA CONTACTANOS.HTML


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */


.contacto h1{
  padding-top: 20px;
  padding-left: 10px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 1em;
  font-family: 'Poppins'
}
.contacto p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
  color: rgb(128, 157, 170);
  text-align: center;
}
.contacto h2{
  font-size: 30px;
  color: #5d87fa;
  margin-left: 30px;
}

.contacto h3{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 10px;
  color: rgb(248, 248, 248);
  padding-left: 40px;
}
.contacto h5{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 10px;
  color: rgb(128, 157, 170);
}
/* estilos de formulario de contacto (contactanos.html) */
  .contenido__form{
    display: flex;
    align-items: center;
    justify-content: center;

  }

    .contenido__form--estilos{
    width: 20rem;
    background: #24303c;
    padding: 30px;
    margin-left: 20em;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'sans-serif';
    color: white;
    box-shadow: 7px 13px 37px rgb(71, 70, 143);
    left:30px;
    margin: 20px;
  }
  .contenido__form--estilos h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'sans-serif';
    font-size: 18px;
    color: white;
  }

  .contenido__form--estilos p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

  }

  .contenido__form--estilos a {
    color: white;
    text-decoration: none;
  }

  .contenido__form--estilos a:hover {
    color: white;
    text-decoration: underline;
  }
  #texArea{
    resize:none;
    background-color: #24303c ;
    border: 1px solid #1f53c5;
    font-family: 'sans-serif';


  }
  .contenido__form--estilos .boton  {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 5px;
    color: white;
    margin: 16px 0;
    font-size: 15px;
    box-shadow: 7px 13px 37px rgba(26, 24, 131, 0.856);

  }


/*--------------------------------------------------------------------------------------------.     ---------------------------------   ----------------------------  ---------------------------------------------------------------------------------------------------------  --------------------------------------         ----             ---                                                     ------------------------------------------EstilosDeLaPaginaQuienesSomos------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.quienesSomos__article p{
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
  color: rgb(17, 93, 163);
  text-align: center;


}

.quienesSomos__article h2{

  padding-top: 30px;
  text-decoration:overline;
}
.quienesSomos__article--inicioQuienes img{
  margin-right: 50px;
  margin-top: -50px;
  width: 50;
  height: 50;
}
/*--------------------------------------------------------------------------------------------.     ---------------------------------   ----------------------------  ---------------------------------------------------------------------------------------------------------  --------------------------------------         ----             ---                                                     ------------------------------------------EstilosDeLaPaginaNuestrosServicios------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.servicios__caja1{
    display: flex;
    padding: 0;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}
.servicios__caja1 h2{
  color: #0a60c2;
}
.servicios__titulos_fondo{
    background-color: #d6d6d6;
    padding: 60px 50px;
    display: flex;
    min-width: 150px;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    text-align: center;
}
.servicios__titulos{
    background-color:#dfdddd;
    padding: 60px 50px;
    display: flex;
    min-width: 150px;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    text-align: center;
}
.servicios__caja2{
  background-color: rgb(182, 41, 41);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 130px 10%;
    overflow: hidden;
    color: rgb(97, 80, 80) ;
}
.servicios__caja2 p{
    font-family: 'Grechen Fuemen', cursive;
    font-weight: 900;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    margin: 1.5rem

}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.button {
    min-width: 10rem;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: #000000;
    background: #4f92d1;
    background: rgba(13,82,219,1);
    background: -moz-linear-gradient(left, rgba(13,82,219,1) 0%, rgba(73,165,191,0.67) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(13,82,219,1)), color-stop(100%, rgba(73,165,191,0.67)));
    background: -webkit-linear-gradient(left, rgba(13,82,219,1) 0%, rgba(73,165,191,0.67) 100%);
    background: -o-linear-gradient(left, rgba(13,82,219,1) 0%, rgba(73,165,191,0.67) 100%);
    background: -ms-linear-gradient(left, rgba(13,82,219,1) 0%, rgba(73,165,191,0.67) 100%);
    background: linear-gradient(to right, rgba(13,82,219,1) 0%, rgba(73,165,191,0.67) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d52db', endColorstr='#49a5bf', GradientType=1 );
    border: none;
    border-radius: 100px;
    /* box-shadow: 12px 12px 24px rgba(79, 179, 209, 0.64); */
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

  .button::before {
    content: '';
    border-radius:10rem;
    min-width:calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 5px solid #166ea8;
    box-shadow: 0 0 60px rgba(0, 132, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  .button:hover, .button:focus {
    color: #b84242;
    transform: translateY(-6px);
  }

  .button:hover::before, .button:focus::before {
    opacity: 1;
  }

  .button::after {
    content: "";
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #1a5780;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
/* 
  .button:hover::after, .button:focus::after {
    animation: none;
    display: none;
  }
    @keyframes ring {
    0% 
{
      width: 20px;
      height: 20px;
      opacity: 1;
    }
    100% {
      width: 400px;
      height: 400px;
      opacity: 1;
    }
  }
   */
.servicios__caja3{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 1em;
    background-color: #fff;
}

.servicios__caja3--foto--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2 ;
    height: 100%;
    width: 100%;

}
.sevicios__caja3--parrafo--1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.servicios__caja3--foto--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3 ;
    height: 100%;
    width: 100%;
}
.sevicios__caja3--parrafo--2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.servicios__caja3--foto--3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4 ;
    height: 100%;
    width: 100%;
}
.sevicios__caja3--parrafo-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.servicios__caja3 p {
    font-family: 'Redressed', cursive;
    font-weight: 900;
    font-size: 1.5em;
    color: rgb(50, 103, 201);
    /* display: block; */
    margin: 1.5rem;
}

 /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                       estilos de la pagina trabajos realizados


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.background__main__trabajos{
  background: #dae0dd;
}
.title__trabajosRealizados{
  font-size:2rem;
  font-family: 'Poppins', sans-serif;
  color: #1a5780;
  margin-top: 30px;
}
/* -----------------------------------------------------------------------------------------------------------------------------------estilos del contenedor de las animaciones de la pagina nuestros servicios ------------------------------------------------------------------------------------------------------------------------------- */

.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}
/* fondo que es visible una vez que la imagen hace la animacion y gira sirve para poder ver mas claro el titulo y el parrafo, lo genere con la paleta de colores de la imagen la carge en "https://www.canva.com/it_it/" de ahoi tome los colores para poder usar "https://www.cssmatic.com/" que genera un fondo en degrades y codigo para casi todos los exploradores*/
.contenedor_tarjeta:nth-child(1) figure .trasera{
    background: rgba(46,74,117,1);
    background: -moz-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,74,117,1)), color-stop(100%, rgba(46,74,117,0.63)));
    background: -webkit-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,0.63) 100%);
    background: -o-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,0.63) 100%);
    background: linear-gradient(to right, rgba(46,74,117,1) 0%, rgba(46,74,117,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4a75', endColorstr='#2e4a75', GradientType=1 );

}
.contenedor_tarjeta:nth-child(2) figure .trasera{

    background: rgba(116,59,154,1);
    background: -moz-linear-gradient(left, rgba(116,59,154,1) 0%, rgba(195,136,102,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,59,154,1)), color-stop(100%, rgba(195,136,102,0.63)));
    background: -webkit-linear-gradient(left, rgba(116,59,154,1) 0%, rgba(195,136,102,0.63) 100%);
    background: -o-linear-gradient(left, rgba(116,59,154,1) 0%, rgba(195,136,102,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(116,59,154,1) 0%, rgba(195,136,102,0.63) 100%);
    background: linear-gradient(to right, rgba(116,59,154,1) 0%, rgba(195,136,102,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#743b9a', endColorstr='#c38866', GradientType=1 );
}
.contenedor_tarjeta:nth-child(3) figure .trasera{
    background: rgba(34,29,11,1);
    background: -moz-linear-gradient(left, rgba(34,29,11,1) 0%, rgba(135,141,68,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,29,11,1)), color-stop(100%, rgba(135,141,68,0.63)));
    background: -webkit-linear-gradient(left, rgba(34,29,11,1) 0%, rgba(135,141,68,0.63) 100%);
    background: -o-linear-gradient(left, rgba(34,29,11,1) 0%, rgba(135,141,68,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(34,29,11,1) 0%, rgba(135,141,68,0.63) 100%);
    background: linear-gradient(to right, rgba(34,29,11,1) 0%, rgba(135,141,68,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221d0b', endColorstr='#878d44', GradientType=1 );
}

.contenedor_tarjeta:nth-child(4) figure .trasera{
    background: rgba(100,90,82,1);
    background: -moz-linear-gradient(left, rgba(100,90,82,1) 0%, rgba(185,152,144,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,90,82,1)), color-stop(100%, rgba(185,152,144,0.63)));
    background: -webkit-linear-gradient(left, rgba(100,90,82,1) 0%, rgba(185,152,144,0.63) 100%);
    background: -o-linear-gradient(left, rgba(100,90,82,1) 0%, rgba(185,152,144,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(100,90,82,1) 0%, rgba(185,152,144,0.63) 100%);
    background: linear-gradient(to right, rgba(100,90,82,1) 0%, rgba(185,152,144,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645a52', endColorstr='#b99890', GradientType=1 );
}

.contenedor_tarjeta:nth-child(5) figure .trasera{
    background: rgba(106,93,51,1);
    background: -moz-linear-gradient(left, rgba(106,93,51,1) 0%, rgba(185,152,144,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,93,51,1)), color-stop(100%, rgba(185,152,144,0.63)));
    background: -webkit-linear-gradient(left, rgba(106,93,51,1) 0%, rgba(185,152,144,0.63) 100%);
    background: -o-linear-gradient(left, rgba(106,93,51,1) 0%, rgba(185,152,144,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(106,93,51,1) 0%, rgba(185,152,144,0.63) 100%);
    background: linear-gradient(to right, rgba(106,93,51,1) 0%, rgba(185,152,144,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a5d33', endColorstr='#b99890', GradientType=1 );
}

.contenedor_tarjeta:nth-child(6) figure .trasera{
    background: rgba(62,72,88,1);
    background: -moz-linear-gradient(left, rgba(62,72,88,1) 0%, rgba(132,150,160,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,72,88,1)), color-stop(100%, rgba(132,150,160,0.63)));
    background: -webkit-linear-gradient(left, rgba(62,72,88,1) 0%, rgba(132,150,160,0.63) 100%);
    background: -o-linear-gradient(left, rgba(62,72,88,1) 0%, rgba(132,150,160,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(62,72,88,1) 0%, rgba(132,150,160,0.63) 100%);
    background: linear-gradient(to right, rgba(62,72,88,1) 0%, rgba(132,150,160,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4858', endColorstr='#8496a0', GradientType=1 );
}

.contenedor_tarjeta:nth-child(7) figure .trasera{
    background: rgba(101,103,78,1);
    background: -moz-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(132,150,160,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,103,78,1)), color-stop(100%, rgba(132,150,160,0.63)));
    background: -webkit-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(132,150,160,0.63) 100%);
    background: -o-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(132,150,160,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(132,150,160,0.63) 100%);
    background: linear-gradient(to right, rgba(101,103,78,1) 0%, rgba(132,150,160,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65674e', endColorstr='#8496a0', GradientType=1 );
}

.contenedor_tarjeta:nth-child(8) figure .trasera{
    background: rgba(101,103,78,1);
    background: -moz-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(174,191,114,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,103,78,1)), color-stop(100%, rgba(174,191,114,0.63)));
    background: -webkit-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(174,191,114,0.63) 100%);
    background: -o-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(174,191,114,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(101,103,78,1) 0%, rgba(174,191,114,0.63) 100%);
    background: linear-gradient(to right, rgba(101,103,78,1) 0%, rgba(174,191,114,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65674e', endColorstr='#aebf72', GradientType=1 );
}

.contenedor_tarjeta:nth-child(9) figure .trasera{
    background: rgba(49,95,20,1);
    background: -moz-linear-gradient(left, rgba(49,95,20,1) 0%, rgba(49,95,20,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(49,95,20,1)), color-stop(100%, rgba(49,95,20,0.63)));
    background: -webkit-linear-gradient(left, rgba(49,95,20,1) 0%, rgba(49,95,20,0.63) 100%);
    background: -o-linear-gradient(left, rgba(49,95,20,1) 0%, rgba(49,95,20,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(49,95,20,1) 0%, rgba(49,95,20,0.63) 100%);
    background: linear-gradient(to right, rgba(49,95,20,1) 0%, rgba(49,95,20,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#315f14', endColorstr='#315f14', GradientType=1 );
}


.contenedor_tarjeta:nth-child(10) figure .trasera{
    background: rgba(110,165,203,1);
    background: -moz-linear-gradient(left, rgba(110,165,203,1) 0%, rgba(127,193,229,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(110,165,203,1)), color-stop(100%, rgba(127,193,229,0.63)));
    background: -webkit-linear-gradient(left, rgba(110,165,203,1) 0%, rgba(127,193,229,0.63) 100%);
    background: -o-linear-gradient(left, rgba(110,165,203,1) 0%, rgba(127,193,229,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(110,165,203,1) 0%, rgba(127,193,229,0.63) 100%);
    background: linear-gradient(to right, rgba(110,165,203,1) 0%, rgba(127,193,229,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea5cb', endColorstr='#7fc1e5', GradientType=1 );
}

.contenedor_tarjeta:nth-child(11) figure .trasera{
    background: rgba(60,90,22,1);
    background: -moz-linear-gradient(left, rgba(60,90,22,1) 0%, rgba(138,190,139,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,90,22,1)), color-stop(100%, rgba(138,190,139,0.63)));
    background: -webkit-linear-gradient(left, rgba(60,90,22,1) 0%, rgba(138,190,139,0.63) 100%);
    background: -o-linear-gradient(left, rgba(60,90,22,1) 0%, rgba(138,190,139,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(60,90,22,1) 0%, rgba(138,190,139,0.63) 100%);
    background: linear-gradient(to right, rgba(60,90,22,1) 0%, rgba(138,190,139,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5a16', endColorstr='#8abe8b', GradientType=1 );
}

.contenedor_tarjeta:nth-child(12) figure .trasera{
    background: rgba(90,72,57,1);
    background: -moz-linear-gradient(left, rgba(90,72,57,1) 0%, rgba(175,165,156,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,72,57,1)), color-stop(100%, rgba(175,165,156,0.63)));
    background: -webkit-linear-gradient(left, rgba(90,72,57,1) 0%, rgba(175,165,156,0.63) 100%);
    background: -o-linear-gradient(left, rgba(90,72,57,1) 0%, rgba(175,165,156,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(90,72,57,1) 0%, rgba(175,165,156,0.63) 100%);
    background: linear-gradient(to right, rgba(90,72,57,1) 0%, rgba(175,165,156,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4839', endColorstr='#afa59c', GradientType=1 );
}

.contenedor_tarjeta:nth-child(13) figure .trasera{
    background: rgba(88,80,65,1);
    background: -moz-linear-gradient(left, rgba(88,80,65,1) 0%, rgba(160,163,181,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(88,80,65,1)), color-stop(100%, rgba(160,163,181,0.63)));
    background: -webkit-linear-gradient(left, rgba(88,80,65,1) 0%, rgba(160,163,181,0.63) 100%);
    background: -o-linear-gradient(left, rgba(88,80,65,1) 0%, rgba(160,163,181,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(88,80,65,1) 0%, rgba(160,163,181,0.63) 100%);
    background: linear-gradient(to right, rgba(88,80,65,1) 0%, rgba(160,163,181,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585041', endColorstr='#a0a3b5', GradientType=1 );
}

.contenedor_tarjeta:nth-child(14) figure .trasera{
    background: rgba(205,145,44,1);
    background: -moz-linear-gradient(left, rgba(205,145,44,1) 0%, rgba(166,196,219,0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(205,145,44,1)), color-stop(100%, rgba(166,196,219,0.63)));
    background: -webkit-linear-gradient(left, rgba(205,145,44,1) 0%, rgba(166,196,219,0.63) 100%);
    background: -o-linear-gradient(left, rgba(205,145,44,1) 0%, rgba(166,196,219,0.63) 100%);
    background: -ms-linear-gradient(left, rgba(205,145,44,1) 0%, rgba(166,196,219,0.63) 100%);
    background: linear-gradient(to right, rgba(205,145,44,1) 0%, rgba(166,196,219,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd912c', endColorstr='#a6c4db', GradientType=1 );
}


figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}


/*--------------------------------------------------------------------------------------------.     ---------------------------------   ----------------------------  ---------------------------------------------------------------------------------------------------------  --------------------------------------         ----             ---                                                     -----------------------------------------""""Media-Queries""""------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media only screen and (max-width: 1000px){
.parrafoPrincipalPresentacion {
  background-image: none;
  background-color: #fff;
}
}
@media only screen and (max-width: 600px){
  .parrafoPrincipalPresentacion h2 {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .conte__logo--titulo h1 {
    text-align: center;
  } 

}
@media only screen and (max-width: 1000px) {
  .conte__menu--barraMenu li  {
    padding: 1em;
}

.navbar-collapse {
  background-color:  #fff !important;
  z-index: 20;
  opacity: 0.8;
  text-align: center;
}
}
/* esta media query es para mas adelante agrgarle java scrip y hacer un menu interactivo (cuando lo aprenda xD ) */

@media only screen and (max-width: 871px) and (min-width: 600px) {
  
  
  /* mapa contactanos */
  .contenido__form
  {

    flex-direction: column;
  }
  .conte__logo--titulo h1{
  font-size: 2rem;  
  }
}

/* modificacion para nav redes */
@media only screen and (max-width: 470px){
  .navRedes__ul li{
  padding: 1em;
  margin: 0;
}
/* form de contactanos.html */
.form-register {
  width: 300px;
}
/* paraquitar el logo en una resulucion reducida,para una mejor experiencia del usuario */
  .conte__logo--icono{
    display: none;
  }
  .navbar-brand{
    margin-left: 1rem;
  }
  /* modificacion del titulo */
  h1{
    text-align: center;
  }
  /* iframe contactanos.index */
  .contenido__form iframe{
    width: 400px;
  }
}
@media only screen and (max-width: 350px){
  .contenido__form iframe{
    width: 250px;
  }
  .contenido__form--estilos{
    width: 15rem;
  }
  .navRedes__ul li{
    padding: 0px;
  }
}
/* le quito la animaciones a la pantalla pequeña por que la clase hover no se aplica */
@media screen and (max-width: 992px) {
	figure .trasera {
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);
	}

}
/* pagina nuestros servicios */
@media screen and (max-width: 950px) {
  .servicios__caja3 {
  display: flex;
  padding: 0;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  }
}
@media screen and (min-width: 200px) and (max-width: 1156px){
  .servicios__caja1 {

      flex-wrap: wrap;
      flex-direction: column;
  }
}

